// Microsoft Visual C++ generated resource script.
//
#pragma code_page(65001)

#include "resource.h"
#include <windows.h>

/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_LOGIN_DIALOG DIALOGEX 0, 0, 233, 77
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Login"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    DEFPUSHBUTTON   "Login",IDLOGIN,121,56,50,14
    EDITTEXT        IDC_EDIT_ID,33,15,132,14,ES_AUTOHSCROLL
    EDITTEXT        IDC_EDIT_PASSWORD,33,34,132,14,ES_PASSWORD | ES_AUTOHSCROLL
    LTEXT           "ID:",IDC_STATIC,15,18,11,8
    LTEXT           "PW:",IDC_STATIC,15,36,14,8
    PUSHBUTTON      "Cancel",IDCANCEL,176,56,50,14
    DEFPUSHBUTTON   "Register",IDREGISTER,7,56,50,14
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_LOGIN_DIALOG, DIALOG
    BEGIN
        LEFTMARGIN, 7
        RIGHTMARGIN, 226
        TOPMARGIN, 7
        BOTTOMMARGIN, 70
    END
END
#endif    // APSTUDIO_INVOKED


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_LOGIN_DIALOG AFX_DIALOG_LAYOUT
BEGIN
    0
END

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

